<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="Index" class="nav-link">Inicio</a>

                    </li>
                    <li class="nav-item">
                        <a href="Login" class="nav-link">Iniciar Sesion</a>

                    </li>
                    <li class="nav-item">
                        <a href="Registrarse" class="nav-link">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a href="CrearNecesidad" class="nav-link">Crear nueva necesidad</a>
                    </li>
                </ul>
                <form class="form-inline" action="/.php">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar Necesidad">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </form>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>