@model TP_PW3.Models.Usuario
@{
    ViewBag.Title = "CrearUsuario";
}

<h2>Registrarse</h2>

<form action="CrearUsuario" method="post">
    <div class="form-group">
        <label class="mr-sm-2" for="email">Email : </label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Ingrese email" id="email" name="email">
        @Html.ValidationMessageFor(o => o.Email)

    </div>
    <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="password" placeholder="Ingrese Contraseña" name="password" required>
        @Html.ValidationMessageFor(o => o.Password)
    </div>
    <div class="form-group">
        <label for="pwd">Confirmar Contraseña:</label>
        <input type="password" class="form-control" id="repassword" placeholder="Reingrese Contraseña" name="repassword" required>
        @Html.ValidationMessageFor(o => o.RePassword)

    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
