
@{
    ViewBag.Title = "Necesidad";
   
}
    <h2 class="text-center mt-5">Comedor de la Iglesia Madre del Pueblo</h2>

<br />
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <h4>¿Que necesitamos?</h4>
            <p>
                En la Iglesia Madre del Pueblo, en la Villa 1-11-14,se organizan 5 comedores para intentar
                que cada día puedan repartirse entre 5.000 y 6.000 viandas a unas 60.000 familias que viven en la Villa 1-11-14.
                Por lo que se necesitan alimentos para poder llegar a la mayor cantidad de personas posibles
            </p>
            <br />
            <hr />
            Calificar:
            <hr />
            <a class="btn btn-success" href="/Necesidad/Donar" role="button">Donar</a>
            <a class="btn btn-primary" href="/Necesidad/ListaDonaciones" role="button">lista de donaciones</a>

        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-IEsLCbKRnI"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
    </div>

    <br />
    <div class="row justify-content-md-center">

        <div class="col">
            <h5>¿Que dice la gente?</h5>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"Fui varias veces a ese comedor es muy necesario"</font></font></p>
                        <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuario1</font></font></small>  
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"Fui varias veces a ese comedor es muy necesario"</font></font></p>
                        <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuario1</font></font></small>
                </li>

            </ul>
        </div>

        <div class="col">
            <h5>Dejanos tu comentario</h5>
            <form>
            <div class="form-group">
                 <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
            <button type="submit" class="btn btn-success">comentar</button>
            </form>
        </div>
    </div>

</div>

      
