
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<section class="jumbotron jumbotron-fluid pt-0 mb-0">
    <div class="container-fluid pt-5">
        <h1 class="text-center text-white mt-2 mt-md-5 pt-3 display-4">Ayudando en la Pandemia</h1>
        <h2 class="text-center text-light">
            Si tiene una necesidad puede
        </h2>
        <h2 class="text-center text-light">
            publicarla y recibir ayuda.
        </h2>
        <p class="text-center"><a href="#" class="btn btn-success text-center">inicie sesión</a></p>
        <div class="d-flex justify-content-center pt-2">
        </div>
    </div>
</section>

<section class="mis-necesidades pt-0">
    <div class="container bg-light pr-5 pl-5 pt-5 pb-5">
        <div class="row d-flex justify-content-center mb-5">
            <div class="card text-dark mb-5">
                <img src="~/Content/img/idea.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Necesidad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pepe Argento</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Creación: 24-05-2020</li>
                </ul>
                <div class="card-footer">
                    <div class="input-group-prepend justify-content-center" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-sm btn-info">90%  <i class="fas fa-thumbs-up"></i></a>
                        <a href="/Home/Login/" class="btn btn-sm border btn-light ml-1">Detalles <i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="card text-dark mb-5">
                <img src="~/Content/img/idea.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Necesidad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pepe Argento</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Creación: 24-05-2020</li>
                </ul>
                <div class="card-footer">
                    <div class="input-group-prepend justify-content-center" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-sm btn-info">90%  <i class="fas fa-thumbs-up"></i></a>
                        <a href="/Home/Login/" class="btn btn-sm border btn-light ml-1">Detalles <i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="card text-dark mb-5">
                <img src="~/Content/img/idea.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Necesidad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pepe Argento</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Creación: 24-05-2020</li>
                </ul>
                <div class="card-footer">
                    <div class="input-group-prepend justify-content-center" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-sm btn-info">90%  <i class="fas fa-thumbs-up"></i></a>
                        <a href="/Home/Login/" class="btn btn-sm border btn-light ml-1">Detalles <i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="card text-dark mb-5">
                <img src="~/Content/img/idea.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Necesidad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pepe Argento</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Creación: 24-05-2020</li>
                </ul>
                <div class="card-footer">
                    <div class="input-group-prepend justify-content-center" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-sm btn-info">90%  <i class="fas fa-thumbs-up"></i></a>
                        <a href="/Home/Login/" class="btn btn-sm border btn-light ml-1">Detalles <i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="card text-dark mb-5">
                <img src="~/Content/img/idea.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Necesidad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pepe Argento</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Creación: 24-05-2020</li>
                </ul>
                <div class="card-footer">
                    <div class="input-group-prepend justify-content-center" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-sm btn-info">90%  <i class="fas fa-thumbs-up"></i></a>
                        <a href="/Home/Login/" class="btn btn-sm border btn-light ml-1">Detalles <i class="fas fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




