
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="container">
    <form action=""   method="post">
        <div class="form-group">
            <label class="mr-sm-2" for="email">Email : </label>
            <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Ingrese email" id="email">
        </div>
        <div class="form-group">
            <label class="mr-sm-2" for="pwd">Password : </label>
            <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Ingrese Contraseña" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar</button>
    </form>
</div>